<h1>Welcome to NRN-system</h1>
<p>your serial: <%= @instrument.serial%></p>
<% if @instrument.current_reserve_event.present? %>
<div class="card">
    <div class="card-header">
        <p>Current Resavation Status</p>
    </div>
    <div class="card-body">
        <ul>
            <li>Set Time: <%= @instrument.current_reserve_event.reserved_at %></li>
            <li>Execution Type: <%= @instrument.current_reserve_event.execution_type %></li>
        </ul>
    </div>
</div>
<%= form_with(url: cancel_current_reserve_event_path(instrument_id: @instrument.id), method: :post, local: true) do |form| %>
    <%= form.submit "Cancel", class: "btn btn-sm btn-secondary" %>
<% end %>
<% else %>
<h4>No Reservation was reserved</h4>
<% end %>
<br>
<%= link_to "New", new_reserve_event_path(instrument_id: @instrument.id), class: "btn btn-sm btn-primary" %>
<%= link_to "Index", reserve_events_path(instrument_id: @instrument.id) %>